.habitaciones{
    text-align: center;
    background-color:white;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    h2{
        text-align: center;
        background-color: black;
        color: white;
        padding: 15px;
        margin-top: 20px;

    }
    .producto-contenedor{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div{
            border: 1px solid black;
            width: 250px;
            height: 350px;
            text-align: center;
            background-color: black;
            color:white;
            margin: 20px;
            &:hover{
                transform: scale(1.1);
                transition: 1s;
                box-shadow: 10px 10px 5px 0px rgba(99,255,47,0.43);
                -webkit-box-shadow: 10px 10px 5px 0px rgba(99,255,47,0.43);
                -moz-box-shadow: 10px 10px 5px 0px rgba(99,255,47,0.43);
            }
            img{
                width: 250px;
                height: 200px;
            }
            h3{
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 22px;
                color: white;
            }
            a{
                color:white;
                background-color: rgba(99, 255, 47, 0.666);
                font-size: 18px;
                font-weight: 700;
                border-radius: 7px;
                padding: 5px;   
            }
        }
    }
}