header{
    position: sticky;
    top: 0;
    z-index: 10;
}
header nav{
    background-color: $color-secundario;
}
.h-color{
    transition: 1s;
}
.h-color:hover{
    transform: scale(1.1);
    color:$color-terciario;
}
.boton-nav{
    border: 1px solid $color-primario;
    transition: 1s;
}

.boton-nav:hover{
    background-color: $color-terciario;
    color: $color-secundario;
    border: 1px solid $color-cuarto;
}
.logo{
    width: 80px;
    height: 80px;
}