
$color-primario:black;
$color-secundario:white;
$color-terciario:rgba(99, 255, 47, 0.666);
$color-cuarto:grey;

/* Listas */
$colores:white, black, green, blue, grey;

$font-size:
1px,3px,8px,9px,10px,12px,13px,15px,16px,18px,20px,22px,25px,30px,35px,38px,45px,50px,55px;


/* Mapas */
$boton:(
    bg-boton:$color-terciario,
    border-boton: 1px solid $color-primario,
    color-text:$color-secundario,
);


//* Extend
%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

//* Mixing
@mixin flex($flex, $justify,$aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}
